
<h1>Welcome to the Dunder Mifflin website!</h1>

<h2>This is a sample application for learning purposes only</h2>
  
  <div>
    <h3>Tech stack:</h3>
    <img src="./assets/stack.png" width="800" height="300">
  </div>

  <h5 class="fw-semibold">The application is deployed on Azure Kubernetes Service. Nginx ingress is used to expose apis</h5>

  <h5 class="fw-semibold">With the main purpose of getting experience with the cloud computing technologies like Azure, 
    the application logic might be flawed. Thank you for visiting and checking the website out! 
  </h5>
