
<div class="container border border-primary m-2">
<img src="./assets/dmStaff.png">

<h2>We are Dunder Mifflin. With years of professional experience, our experts will make sure to attend
    all of your paper needs.
</h2>


<p class="fw-semibold">Dunder Mifflin Inc. (stock symbol DMI) is a mid-cap regional paper and office supply distributor with an emphasis on servicing small-business clients. With a corporate office in New York City, Dunder Mifflin has branches in Akron, Ohio; Nashua, New Hampshire; Rochester, New York; Scranton, Pennsylvania; Syracuse, New York; and Utica, New York</p>


</div>
